img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.box {
  display: inline-block;
  margin: 8px;
  padding: 8px;
  border: 2px solid yellow;
  width: 590px;
  height: 500px;
  background-color: lightgreen;
  vertical-align: top;
}

button,
input {
  margin-right: 12px;
  min-width: 50px;
}

button.delete,
input[value="delete"] {
  background-color: red;
}

.title {
  font-size: 1.17em;
  margin-bottom: 1em;
  font-weight: bold;
}
